# Lab 05: Verifikasi

ping ke gateway dan DNS berhasil.
