# Lab 11: Verifikasi

Script berjalan tanpa error, output/log sesuai.
