# Lab 08: Verifikasi

Log ditulis di /var/log, syslogd berjalan.
