# Lab 02: Verifikasi

apt list --installed / dnf list installed. Perintah nginx, vim dapat dijalankan.
