# Lab 09: Verifikasi

Jail terlihat di jls, dapat jexec ke jail.
