# Lab 02: Verifikasi

- pkg info menampilkan paket terinstal
- Perintah dari paket (bash, vim) dapat dijalankan
