# Lab 05: Verifikasi

ping gateway dan DNS (e.g. 8.8.8.8) berhasil.
