# Lab 10: Verifikasi

Data restore sesuai asal.
