# Lab 03: Verifikasi

User baru dapat login; sudo berfungsi untuk user yang diizinkan.
